div{
    background-color: rgb(238, 238, 238) ;
    align-items:center; 
    flex: 1 0 0;
   /* border-radius: 6px;*/
    justify-content: flex-start;
}
.header-main-div
{
   /* margin-bottom: 20px;  
    margin-top: 20px;
     margin-right: 20px;
    margin-left:20px;*/
    display: flex;
    flex-direction: row;
    flex: 1 1 1px;
  /*  background: linear-gradient(to right, #f61717, #f4ae2e);*/
    background-color: #2cd5c4;
}

.logo{
    height: 60px;
    flex: 0 0 60px;
}
.menu{    
    width: 40px;
    height: 40px;
    margin-left: 5px;
    cursor: pointer;
}
h2{
    margin-left: 17%;
}