div{
    background-color: rgb(238, 238, 238) ;
    align-items:center; 
    flex: 1 0 0;
    border-radius: 6px;
    justify-content: center;
}
.header-main-div
{
    margin-bottom: 20px;  
    margin-top: 20px;
     margin-right: 20px;
    margin-left:20px;
    display: flex;
    flex:  1 0 0 ;
}
img{
    height: 100px;
    flex: 1 0 0;
}
.logo{
    height: 100px;
    flex: 0 0 100px;
}
