.sebm-google-map-container {
  height: 270px;
  width: 100%;
  flex: 1 0 0;
  display: flex;
}
.details{
    font: 14px;
    display: flex;
    border-radius: 4px;
    border: 2px solid #ddd;
    flex: 0 0 30%;
    margin-right: 20px;
    margin-left: 20px;
}
.map-view{
    flex: 0 0 40%;
    display: flex;
    margin: 20px;
}
.container1{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.marker{
    width: 15px;
    height: 15px;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 15%;
}
.headImg{
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 40px;
    height: 40;
    margin: 5px;
}
.btnContainer{
    flex: 0 0 15%;
    align-items: center;
    justify-content: center;  
}
.btn{
    padding: 0px;
    width: 100px;
    height: 50px;
}
.btnImg{
    width: 40px;
    height: 40px;
}
h3{
    margin: 0px !important;
}