
.container{
    margin: 0;
    display: flex;
    flex: 1 1 1px;
    padding: 0;
    flex-direction: column;
}
.header{
    display: flex;
    flex: 0 0 10%;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex: 0 0 80%;
    justify-content: center;
    width: 100%;
}
.main{
    background-color:  rgb(238, 238, 238);
   /* border-radius: 6px;
    margin-right: 20px;
    margin-left: 20px;*/
    display: flex;    
    justify-content: center;
    /*margin-bottom: 20px;*/
    flex: 1 1 1px;
    /*height: 100%;*/
}
.login{
    width: 100%;
}