
.container{
    margin: 0;
    display: flex;
    flex: 1 0 0;
    padding: 0;
    flex-direction: column;
}
.header{
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex: 0 0 80%;
    justify-content: center;
}
.main{
    background-color:  rgb(238, 238, 238);
    border-radius: 6px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}