<div class="container1">
    <div class="head">
        <h2>Rank - {{place.name}}</h2>
    </div>
    <div class="star-rank">
        <img src="assets/star.png" class="star">
        <img src="assets/star.png" class="star">
        <img src="assets/star.png" class="star">
        <img src="assets/star.png" class="star">
        <img src="assets/star.png" class="star">
    </div>
    <div class="text-rank">
        <textarea class="text-review">
            my review...
        </textarea>
    </div>
    <div class="btnReview">
        <button (click)="send()">send review!</button>
    </div>
</div>
